node_modules
npm-debug.log*
.npm
.nyc_output
coverage/
.coverage/
*.lcov
.DS_Store
.vscode
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.tsbuildinfo
dist/
build/
test/
**/*.spec.ts
**/*.test.ts
jest.config.js
